<h1><%=@game.name %> - <%= @game.year_of_release %></h1>

<p>Genre: <%= link_to @game.genre.name, genre_path(@game.genre) %></p>

<% if @game.developer %>
  <p>Developer: <%= @game.developer.name %></p>
<% else %>
  <p>Developer: N/A</p>
<% end %>

<p>Publisher: <%= link_to @game.publisher.name,  publisher_path(@game.publisher)%></p>

<% if @game.rating %>
  <p>Rating: <%=@game.rating.rating %></p>
  <% else %>
  <p>Rating: Unrated</p>
<% end %>

<%= link_to "Back to game list", games_path %>